target/
fontawesome-free-5.0.4/
flag-icon-css-master/


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Log file
*.log


