.navbar{
    border-radius: 0;
    margin-bottom: 0;
    padding: 13px;
    font-size: 18px;
    background-color: black;
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-size: 25px;
    padding: 10px;
}

#login-content {
    width: 100%;
    height: 77%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    min-height: 60.5%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.footer {
    margin: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 104px;
    background-color: #222222;
    color: #9d9d9d;
    text-align: center;
}

.footer-content{
    padding: 38px;
    font-size: 17px;
}

.modal-header{
    height: 110px;
    background-color: #5cb85c;
    text-align: center;
    color: white;
    padding: 25px 50px;
}

.modal-content {
    border-radius: 0;
}

button.close {
    color: white;
    font-size: 45px;
    font-weight: 500;
}

.modal-footer {
    background-color: #f9f9f9;
}

.err {
    color: red;
    margin-left: 0;
    font-size: medium;
}

.err2 {
    color: red;
    margin-left: 0;
    font-size: medium;
}

.error-input{
    border-color: red;
}

.error-input:focus{
    border-color: red;
    box-shadow: 0 0 5px rgba(255,0,0,0.3);
}

.error-input-user{
    border-color: red;
}

.error-input-user:focus{
    border-color: red;
    box-shadow: 0 0 5px rgba(255,0,0,0.3);
}

.not-error{
    border-color: green;
}

.not-error:focus{
    border-color: green;
    box-shadow: 0 0 5px rgb(51, 238, 56);
}

.error {
    color: red;
    font-size: large;
    font-weight: bold;
    margin-bottom: 3%;
    text-align: center;
}

a.pager-link {
    font-size: large;
    color: cornflowerblue;
    padding: 5px;
}

a.pager-link-selected {
    color: blue;
    text-decoration: none;
}

.table-responsive {
    min-height: 01%;
    overflow: hidden;
}

.before-form {
    height: 40px;
    visibility: hidden;
}

.productRate {
    background: url(/images/w24h241386955448starempty8.png) repeat-x;
    width: 120px;
    height: 24px;
    margin: 22px;
}

.productRate-div {
    background: url(/images/w24h241386955480starfull8.png) repeat-x;
    width: 0;
    height: 100%;
}

.comment-div {
    margin: 40px 230px 20px 170px
}

.comment-photo {
    border-radius: 50%
}

.comment-text {
    padding-right: 50px;
    font-weight: bold
}

.lang {
    margin-top: 10px;
}

.rating {
    border: 1px solid lightgray;
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    width: 300px;
    display: inline-flex;
}

h1{
    margin-left: 34px;
    margin-top: 15px;
}

#mark-div {
    display: inline-block;
    margin-bottom: -4px;
    margin-left: 0;
}

h4 {
    display: inline-block;
    margin-bottom: 0;
}

#header-photo {
    width: 54px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #9d9d9d;
}

.user-name {
    color: #9d9d9d;
}

.info-span {
    font-size: x-large;
    font-weight: bold;
}

.label-span {
    font-size: x-large;
    font-family: verdana, serif;
}

.comment-mark {
    margin-bottom: -10px;
    margin-top: 20px;
    font-size: 22px;
}

#driver {
    font-family: "Baskerville Old Face", serif;
    font-size: xx-large;
    padding: 25%;
}

#date-span {
    padding-top: 21px;
    float: right;
    font-size: 14px;
}

#rating-order {
    font-size: 27px;
    padding-top: 5px;
}

.productRate-order {
    background: url(/images/w24h241386955448starempty8.png) repeat-x;
    width: 120px;
    height: 24px;
    margin-top: 10px;
    margin-left: 6px;
    margin-bottom: 12px;
}

#rating-div {
    margin-top: 20px;
    margin-bottom: -3px
}

.form-group.required .control-label:after {
    content:"*";
    font-size: larger;
    color:red;
}

.modal-message-body {
    font-size: 20px;
    font-family: cursive;
    color: white;
    padding-top: 21%;
    text-align: center;
}

.modal-message {
    background-color: green;
    width: 300px;
    height: 220px;
    border-radius: 50px;
}

.modal-danger {
    background-color: red;
    width: 300px;
    height: 220px;
    border-radius: 50px;
}

.label-driver {
    font-size: 22px;
}

#complete-div {
    margin-top: 15px;
    margin-left: 17%;
}

#divDistance-driver{
    margin-top: 55px;
}

#cancel-button {
    margin-left: 81px;
    font-size: 18px;
}

#save-button {
    font-size: 18px;
}

#change-psw{
    font-size: 17px;
    float: left;
}

.banned {
    color: #bfbaba!important;
}

.users{
    padding: 3px !important;
    line-height: 3.428571 !important;
}

#addresses {
    margin-top: 50px;
    margin-left: 10%;
    width: 76%;
}

.comment-link {
    font-size: 28px;
    margin-left: 50px;
}

.delete-icon{
    color: black;
}

.ban-icon {
    color: red;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:1.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

.error-comment {
    color: red;
    margin-left: 129px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 14px;
}

#work {
    width: 30px;
    height: 24px;
    margin-left: -23px;
    margin-right: 11px;
}

.checkbox {
    display: inline-flex;
    margin-bottom: 30px!important;
    margin-top: 3px!important;
    margin-left: -121px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.h1-error {
    font-size: 250px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 5px;
}

.p-error {
    font-size: 30px;
    text-align: center;
}

.a-error {
    font-family: cursive;
}

#div-buttons {
    margin-top: 112px;
    margin-left: -257px;
}
